<header class="d-flex flex-center">
    <h1><a class="brand" routerLink="/">Cinta Coding</a></h1>
    <div>
        <h1 *ngIf="user">Welcome, 
            <a (click)="showMenu = !showMenu">{{user.name}}</a>

            <div class="menu" *ngIf="showMenu">
                <div class="arrow-up"></div>
                <a routerLink="/profile" (click)="showMenu = false">Detail profile</a>
                <a (click)="logout()" (click)="showMenu = false">Logout</a>
            </div>
        </h1>
    </div>
</header>

<div class="container">
    <alert></alert>
    <router-outlet></router-outlet>
</div>