<div class="p-4">
    <div class="container">
        <div *ngIf="post" class="post">
            <a routerLink="/">< Back</a>
            <h4>{{ post.title }}</h4>
            <p>{{ post.body }}</p>
        </div>


          <div class="comments" *ngIf="comments.length">
            <h4>All comments</h4>
            <ul>
                <li *ngFor="let c of comments">
                    <h5>{{c.name}}</h5>
                    <p>{{c.body}}</p>
                </li>
            </ul>
          </div>
    </div>
</div>