
<div class="container profile" *ngIf="user" >

    <h4 class="bordered-bottom">Profile</h4>

    <p>Name</p>
    <h4>{{user.name}}</h4>

    <p>Email</p>
    <h4>{{user.email}}</h4>

    <p>Address</p>
    <h4>{{user.address.street}}</h4>

    <p>Phone</p>
    <h4>{{user.phone}}</h4>
</div>
