/* You can add global styles to this file, and also import other style files */
$mainColor: rgb(0, 102, 255);
$redColor: rgba(255, 0, 0, 0.61);

*{
    box-sizing: border-box;
}
html,body{
    margin:0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.d-flex{
    display: flex;
}
.flex-center{
    justify-content: space-between;
    align-items: center;
}
a{
    color: $mainColor;
    text-decoration: none;
}
header{
    padding: 20px 5%;

    h1{
        font-size: 20px;
        position: relative;

        .menu {
            position: absolute;
            background: #f1f1f1;
            width: 100%;
            right: 0;
            margin-top: 10px;
            box-shadow: 0 1px 6px #ddd;
            text-align: center;
            font-size: 15px;
            font-weight: normal;
            padding: 10px;
            
            .arrow-up {
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid #f1f1f1;
                position: absolute;
                right: 16px;
                top: -10px;
            }

            a{
                display: block;
                padding: 5px 0;
            }
        }
    }
    a.brand{
        text-decoration: none;
        color: inherit;
    }
}
.alert.alert-danger.alert-dismissable {
    position: fixed;
    top: 25px;
    right: 25px;
    background: #ff5959;
    color: #fff;
    padding: 12px 24px;
    font-size: 14px;
    display: flex;
    align-items: center;

    a.close {
        margin-left: 20px;
        font-size: 20px;
        line-height: 1;
        color: #fff;
    }
}
.container{
    width: 500px;
    display: block;
    margin: auto;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
    h4{
        margin-bottom: 30px;
    }
    .form-group{
        margin-bottom: 20px;
    }
    input{
        padding: 8px;
        border-radius: 30px;
        margin-bottom: 8px;
        border: 1px solid $mainColor;
        text-align: center;
        width: 250px;
        font-family: 'Poppins', sans-serif;

        &.is-invalid{
            border: 1px solid $redColor;
        }
    }
    button{
        background-color: $mainColor;
        color: #fff;
        text-align: center;
        width: 250px;
        border: 0;
        border-radius: 30px;
        padding: 8px;
        font-family: 'Poppins', sans-serif;
    }
    .invalid-feedback{
        color: $redColor;
        font-size: 13px;
    }
}
.bordered-bottom{
    border-bottom: 2px solid $mainColor;
}
h4.bordered-bottom{
    padding-bottom: 10px;
    margin-bottom: 40px;
    text-align: center;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.post{

    margin-bottom: 30px;
    .meta{
        font-size: 13px;
        a{
            margin-left: 10px;
        }
    }
    a{
        display: inline-block;
        color: $mainColor;
        text-decoration: none;
        font-size: 13px;
    }
    p{
        color: #888;
        margin-bottom: 10px;
    }
}
.comments{
    margin-top: 60px;
    margin-bottom: 60px;
    h5{
        color: #777;
        font-size: 14px;
        margin-bottom: 0;
    }
    ul{
        list-style: none;
        padding: 0;
        margin: 0;

        li{
            font-size: 14px;
            margin-bottom: 20px;
        }
    }
}

.profile{
    text-align: center;
    p{
        margin-bottom: 0;
        font-size: 14px;
        color: #777;
    }
    h4{
        margin-top: 0;
    }
}