
<div class="container" *ngIf="posts && posts.length" >

    <h4 class="bordered-bottom">Posts</h4>

    <div *ngFor="let p of posts | paginate: { itemsPerPage: 10, currentPage: page }" class="post">
        <p>{{ p.title }}</p>

        <div class="d-flex meta">
            <span>{{ p.id | comment | async}} comments</span>
            <a [routerLink]="'/post/'+p.id">Detail</a>
        </div>
    </div>
    <pagination-controls (pageChange)="page = $event" class="float-right"></pagination-controls>
</div>
